<appSettings>
  <!-- 邮件设置 -->
  <!-- 客服邮箱发送名-->
  <add key="ServiceEmailName" value="123@sina.cn"/>
  <!-- 邮件发件人名称-->
  <add key="ServiceName" value="爱代驾官方网站"/>
  <!-- 客服邮箱登录名-->
  <add key="EmailName" value="czs"/>
  <!--客服邮箱pwd-->
  <add key="EmailPwd" value="123456"/>
  <!--SMTP邮箱设置-->
  <add key="ServiceEmailSmtp" value="smtp.sina.cn"/>
  <!--页面大小-->
  <add key="PageSize" value="20"/>
  <!--前台页面大小-->
  <add key="QiantaiSize" value="10"/>
  <!--前台页面大小-->
  <add key="NewsSize" value="20"/>
  <!--短信密码-->
  <add key="Dxpwd" value="13312345678"/>
  <!--短信用户名-->
  <add key="Dxuname" value="LD00001"/>
  <!--支付宝验证名-->
  <add key="ZFBHZ" value="2088501493613673"/>
  <!--支付宝安全验证码-->
  <add key="ZFBKEY" value="6gm4yovrxr0w9052336ns9qurcae28ku"/>
  <!--卖家帐号-->
  <add key="GetmoneyEmail" value="wxk0203@foxmail.com"/>
  <!--图片路径-->
  <add key="ImagePath" value="http://imgs.aidaijia.com/"/>
  <!--域名-->
  <add key="Domain" value="http://192.168.10.122/"/>
  <!--BBS-->
  <add key="BBS" value="http://192.168.10.122/"/>
  <!--商城-->
  <add key="Mall" value="http://192.168.10.122/"/>
  <!--爱代价订单服务-->
  <!--<add key="AdjOrderService" value="http://114.141.132.215:8002"/>-->
  <add key="AdjOrderService" value="http://192.168.10.53:8089"/>
  <!-- 订单创建服务配置（Redis 接口） -->
  <add key="apiServer" value="192.168.10.48:800" />
  <!--<add key="apiServer" value="cc.aidaijia.com" />-->
  <!--合作商标识是否可用 1：生产环境下 2：测试环境下 3：禁用-->
  <add key="Sign" value="2" />
  <!--关闭的第三方发券  a|b|c-->
  <add key="CloseSign" value="aa73c7dd31b240d6dcfd283a47c049f3" />
</appSettings>